<section id="posts-content" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Let's Travel to Taitung in Taiwan !
    </h2>
    <div class="row">
        <div class="col-md-8">
            <div id="nav-content">
                <div id="Overview" class="mb-5 pt-5">
                    <h3>Overview</h3>
                    <p class="lh-base">
                        Taitung is located in the east of Taiwan. Because of its special terrain, we can see the
                        beautiful nature landscape there. Besides, Taitung is famous for its agricultural products, like
                        rice, tea leaves, sugarapple and orange daylily. What's more, because Taitung is where
                        aboriginal peoples live, you can enjoy different cultures.
                    </p>
                </div>
                <div id="Alanyi-Historic-Trail" class="mb-5 pt-5">
                    <h3>Alanyi Historic Trail</h3>
                    <p class="lh-base">
                        Alanyi Historic Trail is located between
                        Daren Township in Taichung and Mudan Township in
                        Pingtung. The Directorate General of Highways was
                        planning to build Provincial Highway 26 on it, but they
                        received protests from Environment groups, so they
                        decided to give up. Alanyi Historic Trail is now a part
                        of Xuhai-Guanyinbi Nature Reserve and will be protected
                        by the law.
                    </p>

                    <img src="/static/images/posts/posts6-2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <p class="lh-base">
                        I have been to Alanyi once during the
                        field trip in senior high school. We had a two-day trip.
                        On our first day, we went to Alanyi. We started at
                        Taichung end and needed to go to Pingtung to finish the
                        Historic Trail. The first part is a very steep slope,
                        and we need to wear gloves to climb up using the rope.
                        We decided to rest and eat lunch after we walked for a
                        long time. After that, we continue the journey and walk
                        through the beach. After several hours, we completed the
                        historic trail.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <nav id="sitcky-posts-nav" class="position-sticky d-none d-md-block">
                <nav class="nav nav-pills flex-column pt-5">
                    <a class="nav-link" href="#Overview">
                        Overview
                    </a>
                    <a class="nav-link" href="#Alanyi-Historic-Trail">
                        Alanyi Historic Trail
                    </a>
                    <a class="nav-link" href="#Comments">
                        Comments
                    </a>
                </nav>
            </nav>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <div id="nav-content">
                <div id="Comments" class="mb-5 pt-5">
                    <h3>Comments</h3>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            Email address
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            Please leave your message here
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Welcome to Wanna Go !"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary d-flex float-end">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>