<section id="posts-content">
    <!-- <div id="post1"> -->
        <div class="container">
            <h1>Hsinchu</h1>
            <div class="card mb-3 overflow-auto"></div>
                <div class="row g-5 mb-4"> <!--用g設定間距-->
                    <div class="col-md-5">
                        <img src="/static/images/posts/posts1-1.jpg"
                            class="img-fluid rounded-start" alt="圖片失效">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h3 class="card-title">Hsinchu Moat Park</h3>
                            <p class="card-text">That is an arrangement made for
                                the arrival of Christmas near the East Gate of
                                Hsinchu City. When the festival came in 2020,
                                festive decorations were around the East Gate in
                                the center of Hsinchu City, and even several art
                                installations appeared in the buildings near the
                                roundabout. The scenery in the photo is the
                                bridge on the moat at night. The white plastic
                                leaves are like flying birds embellished by the
                                night color in the rainbow light, reflecting on
                                the water, forming a rare city scene. On a quiet
                                night, I strolled along the moat. A light wind
                                blew through the ends of my hair, and the lights
                                hit the road along the way. I could not hear the
                                motor and locomotive whizzing past me. The
                                annoyance in my heart left like the ebb tide of
                                the sea under my feet.
                                <br />
                                <br />Near the East Gate of Hsinchu City are the
                                famous Hsinchu Railway Station with Japanese
                                architectural features and the business
                                district. Many trendy shops and food are waiting
                                for people to enjoy. Of course, McDonald's and
                                KFC also opened in the crowd in front of the
                                train station. From the train station, walk 20
                                minutes to see the Big City Department Store. In
                                Taiwan, the number of check-ins at the Big City
                                is second only to that at Taiwan Taoyuan
                                International Airport. It is where people in
                                Hsinchu will check in during holidays or dinners
                                with friends and colleagues.
                            </p>
                            <p class="card-text"><small class="text-muted">Last
                                    updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Please leave your message here</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </div>
            </div>
        </div>
    <!-- </div> -->

</section>