<section id="posts-content" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Let's Travel to Inland in Taiwan !
    </h2>
    <div class="row">
        <div class="col-md-8">
            <div id="nav-content">
                <div id="Overview" class="mb-5 pt-5">
                    <h3>Overview</h3>
                    <p class="lh-base">
                        Nantou County is a county in Taiwan in
                        the Republic of China. It is located in the central part
                        of Taiwan and lies in the middle of the island. It is
                        the only landlocked county in Taiwan. The county seat,
                        the largest city, the city with the highest population
                        density and the transportation center is Nantou City.
                        The indigenous people of the county include the Atayal,
                        Seediq, Bunun, Tsou and Thao, who live at Sun Moon Lake.
                        The highest mountain in Taiwan, Yushan Mountain, the
                        largest natural lake, Sun Moon Lake, the source of the
                        longest river, the Zhuoshui River, and the geographical
                        center of Taiwan are all located in this county.
                        Specialties include green plums, bananas, sugar cane,
                        frozen oolong tea, Shaoxing wine, bamboo art, Nantou
                        pottery and flowers.
                    </p>
                </div>
                <div id="SongLong-Rock-Waterfall" class="mb-5 pt-5">
                    <h3>SongLong Rock Waterfall</h3>
                    <img src="/static/images/posts/posts4-2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <p class="lh-base">SongLong Rock Waterfall is a waterfall
                        near Sun Link Sea. The beautiful scenery makes it known
                        as the first scene of Sun Link Sea. The cave next to the
                        waterfall, which is caused by thermal expansion and
                        contraction, is quite amazing. You can really see the
                        amazing workmanship of nature, all the landscapes here
                        are the result of continuous changes over thousands of
                        years. In addition to the beautiful scenery, the air
                        here is also quite good, in which the content of
                        negative ions is quite high, which is quite good for the
                        body.
                    </p>
                    <p class="lh-base">
                        One day during the summer vacation, my family
                        decided to visit Sun Link Sea. After arriving at the
                        destination, you can feel the fresh local air with a
                        little moisture and a little cold as soon as you get out
                        of the car, which instantly makes us sane, and the drive
                        for a few hours doesn't seem to exist and does not bring
                        any fatigue.
                    </p>
                    <p class="lh-base">
                        Unfortunately, this trip is planned for only two
                        days and one night, so we can't visit all the
                        attractions nearby, we can only choose a few of them,
                        and Matsutakiyan Waterfall is one of our choices. In
                        order to arrive at the waterfall more quickly and
                        effortlessly, we took the tour bus in the park. After
                        entering the trail, although we didn't enjoy the
                        coldness and the slippery ground, the moment we saw the
                        waterfall, we knew it was worth it. The unique and
                        beautiful scenery here soothed our tired hearts, and the
                        air here is even fresher than the place we park, which
                        makes us much more energetic!
                    </p>
                    <div class="card my-3 border border-start-0 border-end-0
                        rounded-0">
                        <div class="row g-0 py-4">
                            <div class="col-md-6">
                                <img src="/static/images/posts/posts4-3.jpg"
                                    class="d-block w-100 h-100 img-fluid rounded-start" alt="圖片無法載入">
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        In the Hole by the Waterfall
                                    </h5>
                                    <p class="card-text lh-base">
                                        The mighty force of nature has created
                                        such a spectacle, surrounded by lush
                                        greenery and clear water, forming a
                                        scene full of vitality.
                                    </p>
                                    <p class="card-text lh-base">
                                        <small class="text-muted">
                                            Last updated 3 mins ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <nav id="sitcky-posts-nav" class="position-sticky d-none d-md-block">
                <nav class="nav nav-pills flex-column pt-5">
                    <a class="nav-link" href="#Overview">
                        Overview
                    </a>
                    <a class="nav-link" href="#SongLong-Rock-Waterfall">
                        SongLong Rock Waterfall
                    </a>
                    <a class="nav-link" href="#Comments">
                        Comments
                    </a>
                </nav>
            </nav>
        </div>
    </div>

    <div class="row mb-5">
        <form id="Comments" class="mb-5" action="" method="post">
            <h3>Comments</h3>
            <div class="mb-3">
                <label for="comment-email" class="form-label">
                    Email address
                </label>
                <input type="email" class="form-control" id="comment-email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="comment-article" class="form-label">
                    Please leave your message here
                </label>
                <textarea class="form-control" id="comment-article" rows="3"
                    placeholder="Welcome to Wanna Go !"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary d-flex float-end">
                Submit
            </button>
        </form>
    </div>
</section>