<section id="posts-content" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Let's Travel to Marine Park in Taiwan !
    </h2>
    <div class="row">
        <div class="col-md-8">
            <div id="nav-content">
                <div id="Overview" class="mb-5 pt-5">
                    <h3>Overview</h3>
                    <p class="lh-base">
                        Kinmen County is a county in Fujian
                        Province of the Republic of China, located at the mouth
                        of the Jiulong River in Xiamen Bay. Kinmen County has 3
                        cities and 3 townships under its jurisdiction. Old name
                        Wuzhou, also known as Xianzhou, Wujiang, Wudao. Kinmen
                        has been under the jurisdiction of Tongan, Fujian since
                        ancient times and was established as a county in the
                        fourth year of the Republic of China (1915). The Kinmen
                        dialect is widely spoken in the county (the Wuqiu
                        dialect is spoken in Wuqiu), and both the Kinmen dialect
                        and Taiwanese are Hokkien dialects and can communicate
                        with each other. In the history of Tong'an County, there
                        is a saying in Kinmen that "No gold, no silver" and "No
                        gold, no bronze".
                    </p>
                </div>
                <div id="Lieyu" class="mb-5 pt-5">
                    <h3>Lieyu</h3>
                    <img src="/static/images/posts/posts3-2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <p class="lh-base">
                        Lieyu, also known as Little Kinmen, has
                        beautiful sandy beaches, and biodiverse intertidal
                        zones. Also, the famous Blue Tears can be seen here. In
                        addition to the unique ecological aspects, we can see
                        some wartime cultural reservations here. You can visit
                        the memorial hall and bunker to learn about it. In
                        addition, the specialty here is taro, which is quite
                        suitable for purchase as a souvenir.
                    </p>
                    <p class="lh-base">
                        During the summer vacation, my family and I
                        traveled to Kinmen, and one of the trips was to take a
                        boat to Leiyu. Unfortunately, it was noon at the time,
                        so there was no chance to appreciate the Blue Tears due
                        to the scorching sun. However, the bunkers there are
                        quite interesting. There are even mine experience
                        tunnels in one of those bunkers, which can make people
                        feel the tension of the battlefield at that time. In
                        addition, the coast there is quite beautiful, and the
                        clear water sparkling in the sun is so beautiful and
                        refreshing.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <nav id="sitcky-posts-nav" class="position-sticky d-none d-md-block">
                <nav class="nav nav-pills flex-column pt-5">
                    <a class="nav-link" href="#Overview">Overview</a>
                    <a class="nav-link" href="#Lieyu">Lieyu</a>
                    <a class="nav-link" href="#Comments">Comments</a>
                </nav>
            </nav>
        </div>
    </div>

    <div class="row mb-5">
        <form id="Comments" class="mb-5" action="" method="post">
            <h3>Comments</h3>
            <div class="mb-3">
                <label for="comment-email" class="form-label">
                    Email address
                </label>
                <input type="email" class="form-control" id="comment-email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="comment-article" class="form-label">
                    Please leave your message here
                </label>
                <textarea class="form-control" id="comment-article" rows="3"
                    placeholder="Welcome to Wanna Go !"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary d-flex float-end">
                Submit
            </button>
        </form>
    </div>
</section>