<section id="posts-content" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Let's Travel to the South of the Taiwan !
    </h2>
    <div class="row">
        <div class="col-md-8">
            <div id="nav-content">
                <div id="Overview" class="mb-5 pt-5">
                    <h3>Overview</h3>
                    <p class="lh-base">
                        Pingtung is the southernmost county in
                        Taiwan. Because it's located in a tropical area, the
                        weather there is like spring all year. Pingtung has many
                        beautiful scenery,like the first national park of Taiwan
                        - Kenting national park and Dapeng Bay National Scenic
                        Area. Besides, there are many delicious food in
                        Pingtung, like braised pork knuckle in Wanluan and
                        bluefin tuna in Donggang.
                    </p>
                </div>
                <div id="Longkeng" class="mb-5 pt-5">
                    <h3>Longkeng</h3>
                    <img src="/static/images/posts/posts5-2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <p class="lh-base">
                        Longkeng is located in Cape Eluanbi and
                        next to the Eluanbi Park. The terrain in Longkeng is
                        composed of coral reefs, and with the erosion of the
                        sea, there are cliff landslides, canyons and fringing
                        reefs everywhere. Not only does Longkeng have special
                        terrain, Longkeng also has many kinds of birds and
                        reptiles.
                    </p>
                    <p class="lh-base">
                        I went to Longkeng once, it's
                        relaxing, and we followed the guide and listen to him
                        introducing Longkeng. During the trip, I saw the special
                        terrain in Longkeng and saw some special plants and
                        animals. If you want to go there, remember
                        that the place require reservation.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <nav id="sitcky-posts-nav" class="position-sticky d-none d-md-block">
                <nav class="nav nav-pills flex-column pt-5">
                    <a class="nav-link" href="#Overview">Overview</a>
                    <a class="nav-link" href="#Longkeng">Longkeng</a>
                    <a class="nav-link" href="#Comments">Comments</a>
                </nav>
            </nav>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <div id="nav-content">
                <div id="Comments" class="mb-5 pt-5">
                    <h3>Comments</h3>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            Email address
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            Please leave your message here
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Welcome to Wanna Go !"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary d-flex float-end">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>