<section id="tips-content" class="container p-5">
    <h2 class="pb-4 fst-italic border-bottom fs-2 fw-bold">
        Some tips for you!
    </h2>
    <div class="row">
        <div class="col-md-8">
            <ul id="nav-content">
                <li id="luggage" class="pt-5">
                    <h3 class="list-topic">Luggage</h3>
                    <p>Prepared luggage makes travel easier and more enjoyable</p>
                    <div class="container">
                        <p>。Start with an packing list</p>
                        <p>。Pick the right travel bag</p>
                        <p>。Bring extra clothing</p>
                        <p>。Each item is differentiated by a small bag</p>
                        <p>。Bring a airty clothes storage bag</p>
                        <p>。Prepare the carry around bag</p>
                        <p>。Prepare personal hygiene items</p>
                    </div>
                </li>
                <li id="plan" class="pt-5">
                    <h3>Plan</h3>
                    <p>Planning can fulfill the expectations of the journey</p>
                    <div class="container">
                        <p>。Do not arrange too density</p>
                        <p>。You can find a local guide to make the journey smoother</p>
                        <p>。Secondary determination with any personnel is important</p>
                        <p>。If you have traveling companions, you can discuss and improve</P>
                    </div>
                </li>
                <li id="transportation" class="pt-5">
                    <h3>Transportation</h3>
                    <p>Transportation is the key to the journey</p>
                    <div class="container">
                        <p>。Renting a car is a good option but be aware of the contract</p>
                        <p>。Check public transportation in unfamiliar areas before the trip</p>
                        <p>。Sometimes cycling or walking can better appreciate the scenery along the way</p>
                    </div>
                </li>
                <li id="food" class="pt-5">
                    <h3>Food</h3>
                    <p>Food is the soul of a trip</p>
                    <div class="container">
                        <p>。Try more local food is always a good choose the expericnce</p>
                        <p>。The restaurant with advance reservation needs to be confirmed twice</p>
                        <p>。Don't eat too much if you still need to walk,but prepare some snack on the road</p>
                    </div>
                </li>
                <li id="weather" class="pt-5">
                    <h3>Weather</h3>
                    <p>Ignoring weather may cause huge problems</p>
                    <div class="container">
                        <p>。Remember the importance to keep warm.</p>
                        <p>。Pay attention to sun protection</p>
                        <p>。Rain gear is also necessary to bring</p>
                    </div>
                </li>
                <li id="health-and-safety" class="pt-5">
                    <h3>Health and safety</h3>
                    <p>Without health and safety will make your trip terrible</p>
                    <div class="container">
                        <p>。Remember to bring enough water</p>
                        <p>。Bring some emergency medical supplies</p>
                        <p>。Pay attention to hygiene issue</p>
                        <p>。Walk carefully and pay attention to your feet</p>
                    </div>
                </li>
                <li id="lodge" class="pt-5">
                    <h3>Lodge</h3>
                    <p>It's where your take a rest for your trip tomorrow</p>
                    <div class="container">
                        <p>。To be confirmed twice (very important)</p>
                        <p>。It is more secure to make reservations on large travel websites</p>
                        <p>。Look at the service content that comes with it</p>
                        <p>。Refer to other people's evaluations</p>
                    </div>
                </li>
                <li id="morality" class="pt-5">
                    <h3>Morality</h3>
                    <p>Respect others and others will respect you</p>
                    <div class="container">
                        <p>。Don't litter for convience</p>
                        <p>。Do not touch the exhibits</p>
                        <p>。Don't cut the queue</p>
                        <p>。Shoot without disturbing other tourists</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <nav id="sitcky-tips-nav" class="position-sticky d-none d-md-block">
                <nav class="nav nav-pills flex-column pt-5">
                    <a class="nav-link" href="#luggage">Luggage</a>
                    <a class="nav-link" href="#plan">Plan</a>
                    <a class="nav-link" href="#transportation">Transportation</a>
                    <a class="nav-link" href="#food">Food</a>
                    <a class="nav-link" href="#weather">Weather</a>
                    <a class="nav-link" href="#health-and-safety">Health and safety</a>
                    <a class="nav-link" href="#lodge">Lodge</a>
                    <a class="nav-link" href="#morality">Morality</a>
                </nav>
            </nav>
        </div>
    </div>
</section>