<section id="tips-content">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold Pacifico">
        Enjoy your trip!
    </h2>
    <div class="row">
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                    <h4>技巧一</h4>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
                <div id="item-1-1" class="container">
                    <h5>技巧一之一</h5>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
                <div id="item-1-2" class="container">
                    <h5>技巧一之二</h5>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
                <div id="item-2">
                    <h4>技巧二</h4>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
                <div id="item-3">
                    <h4>技巧三</h4>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
                <div id="item-3-1" class="container">
                    <h5>技巧三之一</h5>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
                <div id="item-3-2" class="container">
                    <h5>技巧三之二</h5>
                    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                        the
                        appropriate navigation link is highlighted. It's repeated throughout the component example. We
                        keep
                        adding some more example copy here to emphasize the scrolling and highlighting.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#item-1">技巧一</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-1-1">技巧一之一</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-2">技巧一之二</a>
                    </nav>
                    <a class="nav-link" href="#item-2">技巧二</a>
                    <a class="nav-link" href="#item-3">技巧三</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-3-1">技巧三之一</a>
                        <a class="nav-link ms-3 my-1" href="#item-3-2">技巧三之二</a>
                    </nav>
                </nav>
            </nav>
        </div>
    </div>
</section>