<section id="tips-content">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 Pacifico">
        <br>
        There's many details we need to beware of, so, we have some tips for you.<br>
        Enjoy your trip!
    </h2>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 col-md-7">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" id="nav-content"
                class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                    <h4 class = "h1">Luggage</h4>
                    <p class = 'h3'>Prepared luggage makes travel easier and more enjoyable</p>
                </div>
                <div id="item-1-1" class="container">
                        <p class = 'h3'>。Start with an packing list</p>
                        <p class = 'h3'>。Pick the right travel bag</p>
                        <p class = 'h3'>。Bring extra clothing</p>
                        <p class = 'h3'>。Each item is differentiated by a small bag</p>
                        <p class = 'h3'>。Bring a airty clothes storage bag</p>
                        <p class = 'h3'>。Prepare the carry around bag</p>
                        <p class = 'h3'>。Prepare personal hygiene items</p>
                </div>
                <div id="item-2">
                    <h4 class = "h1">Plan</h4>
                    <p class = 'h3'>Planning can fulfill the expectations of the journey</p>
                </div>
                <div id="item-2-1" class="container">
                    <p class = 'h3'>。Do not arrange too density</p>
                    <p class = 'h3'>。You can find a local guide to make the journey smoother</p>
                    <p class = 'h3'>。Secondary determination with any personnel is important</p>
                    <p class = 'h3'>。If you have traveling companions, you can discuss and improve</P>
                </div>
                <div id="item-3">
                    <h4 class = "h1">Transportation</h4>
                    <p class = 'h3'>Transportation is the key to the journey</p>
                </div>
                <div id="item-3-1" class="container">
                    <p class = 'h3'>。Renting a car is a good option but be aware of the contract</p>
                    <p class = 'h3'>。Check public transportation in unfamiliar areas before the trip</p>
                    <p class = 'h3'>。Sometimes cycling or walking can better appreciate the scenery along the way</p>
                </div>
                <div id="item-4">
                    <h4 class = "h1">Food</h4>
                    <p class = 'h3'>Food is the soul of a trip</p>
                </div>
                <div id="item-4-1" class="container">
                    <p class = 'h3'>。Try more local food is always a good choose the expericnce</p>
                    <p class = 'h3'>。The restaurant with advance reservation needs to be confirmed twice</p>
                    <p class = 'h3'>。Don't eat too much if you still need to walk,but prepare some snack on the road</p>
                </div>
                <div id="item-5">
                    <h4 class = "h1">Weather</h4>
                    <p class = 'h3'>Ignoring weather may cause huge problems</p>
                </div>
                <div id="item-5-1" class="container">
                    <p class = 'h3'>。Remember the importance to keep warm.</p>
                    <p class = 'h3'>。Pay attention to sun protection</p>
                    <p class = 'h3'>。Rain gear is also necessary to bring</p>
                </div>
                <div id="item-6">
                    <h4 class = "h1">Health and safety</h4>
                    <p class = 'h3'>Without health and safety will make your trip terrible</p>
                </div>
                <div id="item-6-1" class="container">
                    <p class = 'h3'>。Remember to bring enough water</p>
                    <p class = 'h3'>。Bring some emergency medical supplies</p>
                    <p class = 'h3'>。Pay attention to hygiene issue</p>
                    <p class = 'h3'>。Walk carefully and pay attention to your feet</p>
                </div>
                <div id="item-7">
                    <h4 class = "h1">Lodge</h4>
                    <p class = 'h3'>It's where your take a rest for your trip tomorrow</p>
                </div>
                <div id="item-7-1" class="container">
                    <p class = 'h3'>。To be confirmed twice (very important)</p>
                    <p class = 'h3'>。It is more secure to make reservations on large travel websites</p>
                    <p class = 'h3'>。Look at the service content that comes with it</p>
                    <p class = 'h3'>。Refer to other people's evaluations</p>
                </div>
                <div id="item-8">
                    <h4 class = "h1">Morality</h4>
                    <p class = 'h3'>Respect others and others will respect you</p>
                </div>
                <div id="item-8-1" class="container">
                    <p class = 'h3'>。Don't litter for convience</p>
                    <p class = 'h3'>。Do not touch the exhibits</p>
                    <p class = 'h3'>。Don't cut the queue</p>
                    <p class = 'h3'>。Shoot without disturbing other tourists</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <nav id="sitcky-tips-nav" class="position-sticky d-none d-md-block" style="top:0px;">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#item-1">Luggage</a>
                    <a class="nav-link" href="#item-2">Plan</a>
                    <a class="nav-link" href="#item-3">Transportation</a>
                    <a class="nav-link" href="#item-4">Food</a>
                    <a class="nav-link" href="#item-5">Weather</a>
                    <a class="nav-link" href="#item-6">Health and safety</a>
                    <a class="nav-link" href="#item-7">Lodge</a>
                    <a class="nav-link" href="#item-8">Morality</a>
                </nav>
            </nav>
        </div>
    </div>
</section>