/* content.html */
section#tips-content {
    #sitcky-tips-nav {
        transition: 0.3s;
    }

    h4 {
        font-family: 'Handlee', cursive;
        font-weight: bold;
    }

    p {
        font-family: 'Kalam', cursive;
    }

    a {
        font-size: 30px;
        font-family: 'Kalam', cursive;
        color: lightblue;

        &:hover {
            color: black;
        }
    }

}