/* content.html */
section#tips-content {
    nav#sitcky-tips-nav {
        top: 0px;
        padding-top: 12px;
        transition: 0.3s;
    }

    h3 {
        font-size: 2em;
        font-family: 'Handlee', cursive;
        font-weight: bold;
        padding: 20px 0px;
    }

    p {
        font-size: 1em;
        padding: 10px;
        text-align: justify;
    }

    a {
        color: black;
        font-size: 30px;
        font-family: 'Kalam', cursive;

        &:hover {
            color: white;
            background-color: gray;
        }
    }

    ol {
        list-style-type: circle;

        li {
            margin-left: 15px;
            padding: 5px;
        }
    }
}