<section id="index-about" class="container p-5">
    <div class="container text-start">
        <h2 class="pt-5 pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
            About
        </h2>
        <!--For large width devices-->
        <div class="display-2-col">
            <div class="row mb-5">
                <div class="col justify-content-center align-self-center">
                    <div class="h-100 p-3">
                        <h3>Who are we ?</h3>

                        <p class="lh-base">
                            We are a group of travel experts who travel all over the world. We hope to tell you about
                            our amazing adventures one by one, let us set off together!
                        </p>
                        <p class="lh-base">
                            If you are interested in our team, please contact us. Join and share your own expericnce
                            with others.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <img src="../static/images/carousel/carousel1.jpg" class="d-block img-fluid float-end" alt="圖片無法載入">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <img src="../static/images/carousel/carousel2.jpg" class="d-block img-fluid" alt="圖片無法載入">
                </div>
                <div class="col justify-content-center align-self-center">
                    <div class="h-100 p-3 text-end">
                        <h3>Let's go for a trip !</h3>

                        <p class="lh-base">
                            Not sure where to go? Hard to make a decision about the location selection? You found the
                            correct place!
                            Make sure check our explore below to help you out!
                        </p>

                        <p class="lh-base">
                            Not sure what to do? Hard to make a decision about the hotel? You found the correct place!
                            Make sure check our tips bwlow to help you out!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--For mobile devices-->
        <div class="display-1-col">
            <div class="img-hov d-flex flex-column">
                <img src="../static/images/carousel/carousel1.jpg" class="d-block
                    img-fluid float-end" alt="圖片無法載入">
                <div class="h-100 p-3">
                    <h3>Who are we ?</h3>

                    <p class="lh-base">
                        We are a group of travel experts who travel all over the world. We hope to tell you about
                        our amazing adventures one by one, let us set off together!
                    </p>
                    <p class="lh-base">
                        If you are interested in our team, please contact us. Join and share your own expericnce
                        with others.
                    </p>
                </div>

                <img src="../static/images/carousel/carousel2.jpg" class="d-block
                    img-fluid" alt="圖片無法載入">
                <div class="h-100 p-3">
                    <h3>Let's go for a trip !</h3>

                    <p class="lh-base">
                        Not sure where to go? Hard to make a decision about the location selection? You found the
                        correct place!
                        Make sure check our explore below to help you out!
                    </p>

                    <p class="lh-base">
                        Not sure what to do? Hard to make a decision about the hotel? You found the correct place!
                        Make sure check our tips bwlow to help you out!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>