<footer class="border-top">
    <div class="container px-5">
        <div class="row py-5 justify-content-center">
            <div class="col-lg-1 col-sm-2">
                <h5 class="fst-italic">Home</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#carousel-travel" class="nav-link p-0">Top</a></li>
                    <li class="nav-item mb-2"><a href="#about" class="nav-link p-0">About</a></li>
                    <li class="nav-item mb-2"><a href="#post" class="nav-link p-0">Explore</a></li>
                    <li class="nav-item mb-2"><a href="#tips" class="nav-link p-0">Tips</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-4">
                <h5 class="fst-italic">Explore</h5>
                <ul class="row">
                    <li class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">地點一</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">地點二</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">地點三</a></li>
                        </ul>
                    </li>
                    <li class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">地點四</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">地點五</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">地點六</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-4">
                <h5 class="fst-italic">Section</h5>
                <ul class="row">
                    <li class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧一</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧二</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧三</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧四</a></li>
                        </ul>
                    </li>
                    <li class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧五</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧六</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧七</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">技巧八</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="col-lg-5 offset-2 d-none d-lg-block text-center">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 img-fluid" alt="圖片無法載入">
                <a class="nav-link" href="#carousel-travel">
                    <h2>Wanna Go</h2>
                </a>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 mt-4 border-top">
            <p class="copy-right">&copy; 2022 Wanna Go, Inc. All rights reserved.</p>
            <a class="icon-link" href="https://github.com/whats2000/TravelBlogProject">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </div>
</footer>