<section id="index-post" class="accordion container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Explore
    </h2>

    <div class="container g-0 text-center img-container">
        <!--For large width devices-->
        <div class="display-2-col">
            <div class="row g-0">
                <div class="col-8 img-hov">
                    <a class="img-hov-item" href="post1.html">
                        <img src="/static/images/posts/posts1-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                        <div class="img-hov-cover"></div>
                        <figcaption class="img-hov-text">
                            <h3>Hsinchu</h3>
                            <p>Let's Travel to Windy City in Taiwan !</p>
                        </figcaption>
                    </a>
                </div>
                <div class="col-4">
                    <div class="row g-0 img-hov">
                        <a class="img-hov-item" href="post2.html">
                            <img src="/static/images/posts/posts2-3.jpg" class="d-block w-100 h-100 img-fluid"
                                alt="圖片無法載入">
                            <div class="img-hov-cover"></div>
                            <figcaption class="img-hov-text">
                                <h3>Kaohsiung</h3>
                                <p>Let's Travel to Port City in Taiwan !</p>
                            </figcaption>
                        </a>
                    </div>
                    <div class="row g-0 img-hov">
                        <a class="img-hov-item" href="post3.html">
                            <img src="/static/images/posts/posts3-1.jpg" class="d-block w-100 h-100 img-fluid"
                                alt="圖片無法載入">
                            <div class="img-hov-cover"></div>
                            <figcaption class="img-hov-text">
                                <h3>Kinmen</h3>
                                <p>Let's Travel to Marine Park in Taiwan !</p>
                            </figcaption>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-4">
                    <div class="row g-0 img-hov">
                        <a class="img-hov-item" href="post4.html">
                            <img src="/static/images/posts/posts4-1.jpg" class="d-block w-100 h-100 img-fluid"
                                alt="圖片無法載入">
                            <div class="img-hov-cover"></div>
                            <figcaption class="img-hov-text">
                                <h3>Nantou</h3>
                                <p>Let's Travel to Inland in Taiwan !</p>
                            </figcaption>
                        </a>
                    </div>
                    <div class="row g-0 img-hov">
                        <a class="img-hov-item" href="post5.html">
                            <img src="/static/images/posts/posts5-1.jpg" class="d-block w-100 h-100 img-fluid"
                                alt="圖片無法載入">
                            <div class="img-hov-cover"></div>
                            <figcaption class="img-hov-text">
                                <h3>Pingtung</h3>
                                <p>Let's Travel to the South of the Taiwan !</p>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-8 img-hov">
                    <a class="img-hov-item" href="post6.html">
                        <img src="/static/images/posts/posts6-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                        <div class="img-hov-cover"></div>
                        <figcaption class="img-hov-text">
                            <h3>Taitung</h3>
                            <p>Let's Travel to Taitung in Taiwan !</p>
                        </figcaption>
                    </a>
                </div>
            </div>
        </div>

        <!--For mobile devices-->
        <div class="display-1-col">
            <div class="img-hov d-flex flex-column">
                <a class="img-hov-item" href="post1.html">
                    <img src="/static/images/posts/posts1-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <div class="img-hov-cover"></div>
                    <figcaption class="img-hov-text">
                        <h3>Hsinchu</h3>
                        <p>Let's Travel to Windy City in Taiwan !</p>
                    </figcaption>
                </a>

                <a class="img-hov-item" href="post2.html">
                    <img src="/static/images/posts/posts2-3.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <div class="img-hov-cover"></div>
                    <figcaption class="img-hov-text">
                        <h3>Kaohsiung</h3>
                        <p>Let's Travel to Port City in Taiwan !</p>
                    </figcaption>
                </a>

                <a class="img-hov-item" href="post3.html">
                    <img src="/static/images/posts/posts3-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <div class="img-hov-cover"></div>
                    <figcaption class="img-hov-text">
                        <h3>Kinmen</h3>
                        <p>Let's Travel to Marine Park in Taiwan !</p>
                    </figcaption>
                </a>

                <a class="img-hov-item" href="post4.html">
                    <img src="/static/images/posts/posts4-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <div class="img-hov-cover"></div>
                    <figcaption class="img-hov-text">
                        <h3>Nantou</h3>
                        <p>Let's Travel to Inland in Taiwan !</p>
                    </figcaption>
                </a>

                <a class="img-hov-item" href="post5.html">
                    <img src="/static/images/posts/posts5-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <div class="img-hov-cover"></div>
                    <figcaption class="img-hov-text">
                        <h3>Pingtung</h3>
                        <p>Let's Travel to the South of the Taiwan !</p>
                    </figcaption>
                </a>

                <a class="img-hov-item" href="post6.html">
                    <img src="/static/images/posts/posts6-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <div class="img-hov-cover"></div>
                    <figcaption class="img-hov-text">
                        <h3>Taitung</h3>
                        <p>Let's Travel to Taitung in Taiwan !</p>
                    </figcaption>
                </a>
            </div>
        </div>
    </div>
</section>