<section id="index-tips" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Tips
    </h2>
    <!--For large width devices-->
    <div class="display-4-col">
        <div class="img-container d-flex flex-wrap justify-content-center text-center">
            <a href="tips.html#luggage" class="tips-item w-25">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Luggage</h3>
                </figcaption>
            </a>
            <a href="tips.html#plan" class="tips-item w-25">
                <img src="/static/images/carousel/carousel2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Plan</h3>
                </figcaption>
            </a>
            <a href="tips.html#transportation" class="tips-item w-25">
                <img src="/static/images/carousel/carousel3.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Transportation</h3>
                </figcaption>
            </a>
            <a href="tips.html#food" class="tips-item w-25">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Food</h3>
                </figcaption>
            </a>
            <a href="tips.html#weather" class="tips-item w-25">
                <img src="/static/images/carousel/carousel2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Weather</h3>
                </figcaption>
            </a>
            <a href="tips.html#health-and-safety" class="tips-item w-25">
                <img src="/static/images/carousel/carousel3.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Health & Safety</h3>
                </figcaption>
            </a>
            <a href="tips.html#lodge" class="tips-item w-25">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Lodge</h3>
                </figcaption>
            </a>
            <a href="tips.html#morality" class="tips-item w-25">
                <img src="/static/images/carousel/carousel2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Morality</h3>
                </figcaption>
            </a>
        </div>
    </div>

    <!--For mobile devices-->
    <div class="display-2-col">
        <div class="img-container d-flex flex-wrap text-center">
            <a href="tips.html#luggage" class="tips-item w-50">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Luggage</h3>
                </figcaption>
            </a>
            <a href="tips.html#plan" class="tips-item w-50">
                <img src="/static/images/carousel/carousel2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Plan</h3>
                </figcaption>
            </a>
            <a href="tips.html#transportation" class="tips-item w-50">
                <img src="/static/images/carousel/carousel3.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Transportation</h3>
                </figcaption>
            </a>
            <a href="tips.html#food" class="tips-item w-50">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Food</h3>
                </figcaption>
            </a>
            <a href="tips.html#weather" class="tips-item w-50">
                <img src="/static/images/carousel/carousel2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Weather</h3>
                </figcaption>
            </a>
            <a href="tips.html#health-and-safety" class="tips-item w-50">
                <img src="/static/images/carousel/carousel3.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Health & Safety</h3>
                </figcaption>
            </a>
            <a href="tips.html#lodge" class="tips-item w-50">
                <img src="/static/images/carousel/carousel1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Lodge</h3>
                </figcaption>
            </a>
            <a href="tips.html#morality" class="tips-item w-50">
                <img src="/static/images/carousel/carousel2.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <figcaption class="tips-item-text">
                    <h3>Morality</h3>
                </figcaption>
            </a>
        </div>
    </div>
</section>