<section id="index-tips" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Tips
    </h2>
    <!--For large width devices-->
    <div class="display-4-col">
        <div class="img-container d-flex flex-wrap justify-content-center text-center">
            <a href="tips.php#luggage" class="tips-item w-25">
                <img src="../static/images/tips/luggage.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Luggage</h3>
                </figcaption>
            </a>
            <a href="tips.php#plan" class="tips-item w-25">
                <img src="../static/images/tips/plan.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Plan</h3>
                </figcaption>
            </a>
            <a href="tips.php#transportation" class="tips-item w-25">
                <img src="../static/images/tips/transportation.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Transportation</h3>
                </figcaption>
            </a>
            <a href="tips.php#food" class="tips-item w-25">
                <img src="../static/images/tips/food.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Food</h3>
                </figcaption>
            </a>
            <a href="tips.php#weather" class="tips-item w-25">
                <img src="../static/images/tips/weather.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Weather</h3>
                </figcaption>
            </a>
            <a href="tips.php#health-and-safety" class="tips-item w-25">
                <img src="../static/images/tips/health_and_safe.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Health & Safety</h3>
                </figcaption>
            </a>
            <a href="tips.php#lodge" class="tips-item w-25">
                <img src="../static/images/tips/lodge.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Lodge</h3>
                </figcaption>
            </a>
            <a href="tips.php#morality" class="tips-item w-25">
                <img src="../static/images/tips/morality.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Morality</h3>
                </figcaption>
            </a>
        </div>
    </div>

    <!--For mobile devices-->
    <div class="display-2-col">
        <div class="img-container d-flex flex-wrap text-center">
            <a href="tips.php#luggage" class="tips-item w-50">
                <img src="../static/images/tips/luggage.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Luggage</h3>
                </figcaption>
            </a>
            <a href="tips.php#plan" class="tips-item w-50">
                <img src="../static/images/tips/plan.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Plan</h3>
                </figcaption>
            </a>
            <a href="tips.php#transportation" class="tips-item w-50">
                <img src="../static/images/tips/transportation.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Transportation</h3>
                </figcaption>
            </a>
            <a href="tips.php#food" class="tips-item w-50">
                <img src="../static/images/tips/food.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Food</h3>
                </figcaption>
            </a>
            <a href="tips.php#weather" class="tips-item w-50">
                <img src="../static/images/tips/weather.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Weather</h3>
                </figcaption>
            </a>
            <a href="tips.php#health-and-safety" class="tips-item w-50">
                <img src="../static/images/tips/health_and_safe.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Health & Safety</h3>
                </figcaption>
            </a>
            <a href="tips.php#lodge" class="tips-item w-50">
                <img src="../static/images/tips/lodge.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Lodge</h3>
                </figcaption>
            </a>
            <a href="tips.php#morality" class="tips-item w-50">
                <img src="../static/images/tips/morality.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                <div class="img-cover"></div>
                <figcaption class="tips-item-text">
                    <h3>Morality</h3>
                </figcaption>
            </a>
        </div>
    </div>
</section>