@charset "UTF-8";
/**********************************
*
*          css reset
*
**********************************/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: unset;
  text-decoration: none;
}

/**********************************
*
*          css normalize
*
**********************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/**********************************
*
*          Main Style
*
**********************************/
.croppie-container {
  width: 100%;
  height: 100%;
}

.croppie-container .cr-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  max-height: none;
  max-width: none;
}

.croppie-container .cr-boundary {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.croppie-container .cr-viewport,
.croppie-container .cr-resizer {
  position: absolute;
  border: 2px solid #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.croppie-container .cr-resizer {
  z-index: 2;
  box-shadow: none;
  pointer-events: none;
}

.croppie-container .cr-resizer-vertical,
.croppie-container .cr-resizer-horisontal {
  position: absolute;
  pointer-events: all;
}

.croppie-container .cr-resizer-vertical::after,
.croppie-container .cr-resizer-horisontal::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
  background: #fff;
  width: 10px;
  height: 10px;
  content: "";
}

.croppie-container .cr-resizer-vertical {
  bottom: -5px;
  cursor: row-resize;
  width: 100%;
  height: 10px;
}

.croppie-container .cr-resizer-vertical::after {
  left: 50%;
  margin-left: -5px;
}

.croppie-container .cr-resizer-horisontal {
  right: -5px;
  cursor: col-resize;
  width: 10px;
  height: 100%;
}

.croppie-container .cr-resizer-horisontal::after {
  top: 50%;
  margin-top: -5px;
}

.croppie-container .cr-original-image {
  display: none;
}

.croppie-container .cr-vp-circle {
  border-radius: 50%;
}

.croppie-container .cr-overlay {
  z-index: 1;
  position: absolute;
  cursor: move;
  touch-action: none;
}

.croppie-container .cr-slider-wrap {
  width: 75%;
  margin: 15px auto;
  text-align: center;
}

.croppie-result {
  position: relative;
  overflow: hidden;
}

.croppie-result img {
  position: absolute;
}

.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
  transform: translateZ(0);
}

/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/
.cr-slider {
  -webkit-appearance: none;
  /*removes default webkit styles*/
  /*border: 1px solid white; */
  /*fix for FF unable to apply focus style bug */
  width: 300px;
  /*required for proper track sizing in FF*/
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}

.cr-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}

.cr-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}

.cr-slider:focus {
  outline: none;
}

/*
.cr-slider:focus::-webkit-slider-runnable-track {
background: #ccc;
}
*/
.cr-slider::-moz-range-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}

.cr-slider::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}

/*hide the outline behind the border*/
.cr-slider:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

.cr-slider::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  border-color: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-width: 6px 0;
  color: transparent;
  /*remove default tick marks*/
}

.cr-slider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cr-slider::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cr-slider::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: 1px;
}

.cr-slider:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
}

.cr-slider:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
}

/*******************************************/
/***********************************/
/* Rotation Tools */
/***********************************/
.cr-rotate-controls {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.cr-rotate-controls button {
  border: 0;
  background: none;
}

.cr-rotate-controls i:before {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

.cr-rotate-l i:before {
  content: "↺";
}

.cr-rotate-r i:before {
  content: "↻";
}

/**********************************
*
*          index.php
*
**********************************/
/* about.html */
@media only screen and (max-width: 768px) {
  section#index-about div.display-2-col {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  section#index-about div.display-1-col {
    display: none;
  }
}
section#index-about h2 {
  font-family: "Handlee", cursive;
}
section#index-about h3 {
  font-size: 1.5em;
  font-family: "Kalam", cursive;
  border-bottom: 1px solid lightgray;
  padding: 0.5em 0;
}
section#index-about p {
  font-size: 1em;
  margin: 1em 0;
  text-align: justify;
}

/* carousel.html */
section#index-carousel-travel div.carousel-inner div.carousel-item {
  background-color: black;
  height: 100vh;
}
section#index-carousel-travel div.carousel-inner div.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#index-carousel-travel div.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(0);
  }
}
section#index-carousel-travel h2 {
  font-size: 1.75em;
  font-family: "Handlee", cursive;
  font-weight: bold;
  margin: 1em 0;
}
section#index-carousel-travel p {
  font-size: 1.25em;
  font-family: "Kalam", cursive;
  margin: 1em 0;
}

/* footer.html */
section#index-footer {
  color: white;
  background-color: #494949;
}
section#index-footer img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#index-footer a {
  color: white;
}
section#index-footer a:hover {
  color: gray;
}
section#index-footer p.copy-right {
  font-size: 0.5em;
  color: gray;
}
section#index-footer h2 {
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
  padding-top: 0.5em;
}
section#index-footer h5 {
  font-size: 1em;
  font-family: "Handlee", cursive;
  font-weight: bold;
  border-bottom: 1px solid white;
  margin: 1em 0;
  padding: 0.5em 0;
}

/* navbar.html */
nav#index-navbar {
  transition: top 0.3s, background-color 0.5s;
}
nav#index-navbar.nav-bg-black {
  background-color: black;
}
nav#index-navbar a.navbar-brand {
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
}
nav#index-navbar a.nav-link {
  font-size: 1.25em;
  font-family: "Handlee", cursive;
}
nav#index-navbar form {
  vertical-align: baseline;
}
nav#index-navbar form input.form-control {
  height: 0.75em;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  box-shadow: none;
  padding: 0 5px;
}
nav#index-navbar form ::-moz-placeholder {
  color: white;
}
nav#index-navbar form :-ms-input-placeholder {
  color: white;
}
nav#index-navbar form ::placeholder {
  color: white;
}
nav#index-navbar div.dropdown a.dropdown-toggle::after {
  display: none;
}
nav#index-navbar div.dropdown a.dropdown-item:active {
  background-color: gray;
}
nav#index-navbar div.dropdown img {
  vertical-align: baseline;
  display: inline;
}
nav#index-navbar a.top-link {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease-in-out;
}
nav#index-navbar a.top-link.button-hidden {
  transform: scale(0);
}

/* post.html */
section#index-post div.img-container div.img-hov {
  display: flex;
}
section#index-post div.img-container div.img-hov a.img-hov-item {
  position: relative;
}
section#index-post div.img-container div.img-hov a.img-hov-item div.img-hov-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
}
section#index-post div.img-container div.img-hov a.img-hov-item figcaption.img-hov-text {
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section#index-post div.img-container div.img-hov a.img-hov-item:hover div.img-hov-cover {
  opacity: 0.5;
}
section#index-post div.img-container div.img-hov a.img-hov-item:hover figcaption.img-hov-text {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  section#index-post div.img-container div.display-2-col {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  section#index-post div.img-container div.display-1-col {
    display: none;
  }
}
section#index-post h2 {
  font-family: "Handlee", cursive;
}
section#index-post h3 {
  font-size: 1.5em;
  font-weight: bold;
}
section#index-post p {
  font-size: 1em;
  margin: 0.5em 0;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  section#index-post p {
    display: none;
  }
}

/* tips.html */
section#index-tips div.img-container {
  background-color: lightgray;
}
section#index-tips div.img-container a.tips-item {
  position: relative;
}
section#index-tips div.img-container a.tips-item img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#index-tips div.img-container a.tips-item div.img-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: black;
}
section#index-tips div.img-container a.tips-item figcaption.tips-item-text {
  color: white;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section#index-tips div.img-container a.tips-item:hover figcaption.tips-item-text {
  opacity: 1;
}
section#index-tips div.img-container a.tips-item:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  section#index-tips div.display-4-col {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  section#index-tips div.display-2-col {
    display: none;
  }
}
section#index-tips h2 {
  font-family: "Handlee", cursive;
}
section#index-tips h3 {
  font-size: 1.25em;
  font-weight: bold;
}

/**********************************
*
*          tips.php
*
**********************************/
/* content.html */
section#tips-content nav#sitcky-tips-nav {
  top: 0px;
  padding-top: 12px;
  transition: 0.3s;
}
section#tips-content h3 {
  font-size: 2em;
  font-family: "Handlee", cursive;
  font-weight: bold;
  padding: 20px 0px;
}
section#tips-content p {
  font-size: 1em;
  padding: 10px;
  text-align: justify;
}
section#tips-content a {
  color: black;
  font-size: 30px;
  font-family: "Kalam", cursive;
}
section#tips-content a:hover {
  color: white;
  background-color: gray;
}
section#tips-content ol {
  list-style-type: circle;
}
section#tips-content ol li {
  margin-left: 15px;
  padding: 5px;
}

/* topic.html */
section#tips-topic {
  height: 100vh;
}
section#tips-topic img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#tips-topic h3 {
  font-size: 4em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Pacifico", cursive;
}

/**********************************
*
*          posts.html
*
**********************************/
/* content.html */
section#posts-content nav#sitcky-posts-nav {
  top: 0px;
  padding-top: 12px;
  transition: 0.3s;
}
section#posts-content img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#posts-content h3 {
  font-size: 2em;
  font-family: "Handlee", cursive;
  font-weight: bold;
  padding: 20px 0px;
}
section#posts-content h5 {
  font-size: 21px;
}
section#posts-content p {
  font-size: 1em;
  padding: 10px;
  text-align: justify;
}
section#posts-content a {
  color: black;
  font-size: 30px;
  font-family: "Kalam", cursive;
}
section#posts-content a:hover {
  color: white;
  background-color: gray;
}

/* topic.html */
section#posts-topic {
  height: 100vh;
}
section#posts-topic img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#posts-topic h3 {
  font-size: 4em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Pacifico", cursive;
}

/**********************************
*
*          login modal
*
**********************************/
div#policy-dialog h1 {
  font-size: 1.75em;
  font-weight: bold;
}
div#policy-dialog h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0;
  border-bottom: 1px solid lightgray;
}
div#policy-dialog h3 {
  font-size: 1.25em;
  padding: 0.5em 0;
}
div#policy-dialog p {
  font-size: 1em;
  margin: 1em 0;
}
div#policy-dialog ul {
  list-style-type: disc;
}
div#policy-dialog ul li {
  margin-left: 25px;
}

/**********************************
*
*          profile.php
*
**********************************/
/* content.html */
section#profile-content nav#sitcky-posts-nav {
  top: 0px;
  padding-top: 12px;
  transition: 0.3s;
}
section#profile-content img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#profile-content h3 {
  font-size: 2em;
  font-family: "Handlee", cursive;
  font-weight: bold;
  padding: 20px 0px;
}
section#profile-content h5 {
  font-size: 21px;
}
section#profile-content p {
  font-size: 1em;
  padding: 10px;
  text-align: justify;
}
section#profile-content a {
  color: black;
  font-size: 30px;
  font-family: "Kalam", cursive;
}
section#profile-content a:hover {
  color: white;
  background-color: gray;
}

/* topic.html */
section#profile-topic {
  height: 100vh;
}
section#profile-topic img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#profile-topic div.img-cover {
  position: absolute;
  height: 55vh;
  top: 45vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.9;
}
section#profile-topic figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section#profile-topic figure img {
  background-color: lightgray;
  outline: 10px solid lightgray;
}
section#profile-topic figure figcaption {
  color: gray;
  font-size: 2em;
  font-family: "Pacifico", cursive;
}
section#profile-topic div.config-button {
  padding: 15px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80%;
}
section#profile-topic div.config-button p {
  font-size: 2em;
}

/**********************************
*
*          profile_edit.php
*
**********************************/
/* content.html */
section#profile-edit-content nav#sitcky-posts-nav {
  top: 0px;
  padding-top: 12px;
  transition: 0.3s;
}
section#profile-edit-content img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#profile-edit-content h3 {
  font-size: 2em;
  font-family: "Handlee", cursive;
  font-weight: bold;
  padding: 20px 0px;
}
section#profile-edit-content h5 {
  font-size: 21px;
}
section#profile-edit-content p {
  font-size: 1em;
  padding: 10px;
  text-align: justify;
}
section#profile-edit-content a {
  color: black;
  font-size: 30px;
  font-family: "Kalam", cursive;
}
section#profile-edit-content a:hover {
  color: white;
  background-color: gray;
}

div#icon-form input#upload-image {
  opacity: 0;
}
div#icon-form label#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
div#icon-form div.image-area {
  border: 2px dashed gray;
  padding: 1rem;
  position: relative;
}
div#icon-form div.image-area img {
  border-radius: 50%;
  margin: 0 auto;
}

/* topic.html */
section#profile-edit-topic {
  height: 100vh;
}
section#profile-edit-topic img {
  -o-object-fit: cover;
     object-fit: cover;
}
section#profile-edit-topic div.img-cover {
  position: absolute;
  height: 55vh;
  top: 45vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.9;
}
section#profile-edit-topic figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section#profile-edit-topic figure a div.icon {
  position: relative;
}
section#profile-edit-topic figure a div.icon img {
  background-color: lightgray;
  display: block;
  outline: 10px solid lightgray;
}
section#profile-edit-topic figure a div.icon i.icon-edit {
  background-color: lightgray;
  padding: 5px;
  position: absolute;
  bottom: -15%;
  right: -15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  outline: 2px solid white;
  transition: transform 0.75s;
}
section#profile-edit-topic figure a div.icon:hover i.icon-edit {
  transform: translate(-20%, -20%);
  z-index: 1;
}
section#profile-edit-topic figure a figcaption {
  border-bottom: 2px solid gray;
  color: gray;
  font-size: 2em;
  font-family: "Pacifico", cursive;
  transition: transform 0.75s;
}
section#profile-edit-topic figure a figcaption:hover {
  transform: scale(1.05);
  z-index: 1;
}
section#profile-edit-topic div.config-button {
  padding: 15px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80%;
}
section#profile-edit-topic div.config-button p {
  font-size: 2em;
}/*# sourceMappingURL=main.css.map */