/* tips.html */

section#tips {
    margin-top: 50px;

    article.blog-post {
        padding: 15px;
    }

    div#tips-nav {
        div.position-sticky {
            top: 1em;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    p {
        padding: 15px 0px;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 0px;
    }

    h4 {
        font-size: 1em;
        font-weight: bold;
        padding: 10px 0px;
    }
}