/* tips.html */

section#index-tips {
    div.img-container {
        background-color: lightgray;

        a.tips-item {
            position: relative;

            img {
                object-fit: cover;
            }

            div.img-cover {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0.5;
                background-color: black;
            }

            figcaption.tips-item-text {
                color: white;
                opacity: 0.5;
                position: absolute;
                top: 50%;
                left: 50%;
                transition: 0.5s ease;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }

            &:hover figcaption.tips-item-text {
                opacity: 1;
            }

            &:hover {
                transform: scale(1.05);
                transition: transform 0.5s;
                z-index: 1;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        div.display-4-col {
            display: none;
        }
    }

    @media only screen and (min-width: 769px) {
        div.display-2-col {
            display: none;
        }
    }

    h2 {
        font-family: 'Handlee', cursive;
    }

    h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
}