/* topic.html */
section#profile-edit-topic {
    height: 100vh;

    img {
        object-fit: cover;
    }

    div.img-cover {
        position: absolute;
        height: 53.5vh;
        top: 46.5vh;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 0.9;
    }

    figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        a {
            div.icon {
                position: relative;

                img {
                    background-color: lightgray;
                    display: block;
                    outline: 10px solid lightgray;
                }

                i.icon-edit {
                    background-color: lightgray;
                    padding: 5px;
                    position: absolute;
                    bottom: -15%;
                    right: -15%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    outline: 2px solid white;
                    transition: transform 0.75s;
                }

                &:hover i.icon-edit {
                    transform: translate(-20%, -20%);
                    z-index: 1;
                }
            }

            figcaption {
                border-bottom: 2px solid gray;
                color: gray;
                font-size: 2em;
                font-family: "Pacifico", cursive;
                transition: transform 0.75s;

                &:hover {
                    transform: scale(1.05);
                    z-index: 1;
                }
            }
        }
    }

    div.config-button {
        padding: 15px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 80%;

        p {
            font-size: 2em;
        }
    }
}