<section id="posts-content" class="container p-5">
    <h2 class="pb-4 mb-4 fst-italic border-bottom fs-2 fw-bold">
        Let's Travel to Port City in Taiwan !
    </h2>
    <div class="row">
        <div class="col-md-8">
            <div id="nav-content">
                <div id="Overview" class="mb-5 pt-5">
                    <h3>Overview</h3>
                    <p class="lh-base">
                        Kaohsiung City is a municipality directly
                        under the Central Government of the Republic of China
                        and one of the six capitals of Taiwan. Because Kaohsiung
                        Port in the city center is the largest port in Taiwan,
                        it is often referred to as "Port City" in Taiwanese
                        colloquialisms. The city has a registered population of
                        about 2.72 million, making it the third-largest city in
                        Taiwan and the largest city in southern Taiwan. Since
                        the era of Japanese rule, Kaohsiung has become a port
                        city and military center with many heavy industries. It
                        is listed as the development center of southern Taiwan
                        along with Tainan City.
                    </p>
                    <h4 id="Transportation" class="ps-4 pt-5">Transportation</h4>
                    <p class="lh-base ps-5">
                        The main components of public transportation in
                        Kaohsiung City include railway trains, buses, passenger
                        transportation, taxis, ferries, and cruise ships for
                        sightseeing around the harbor. Among them, rail
                        transportation is the main public transportation tools
                        in Kaohsiung City, including trains, high-speed
                        railways, and MRT. In terms of international
                        transportation, Kaohsiung Port and Kaohsiung
                        International Airport are the main bases for sea and air
                        transportation.
                    </p>
                    <h4 id="Culture" class="ps-4 pt-5">Culture</h4>
                    <p class="lh-base ps-5">The culture of Kaohsiung City is a
                        product of the gradual compatibility of Western culture
                        and Japanese culture on the basis of traditional
                        culture. The introduction of modern industrial and
                        commercial civilization and western culture has enabled
                        Kaohsiung to embody unique phenomena in terms of food,
                        music, art, and folk customs.
                    </p>
                    <p class="lh-base pt-5">
                        In terms of art, the Kaohsiung City Government
                        organizes activities such as the Kaohsiung Film
                        Festival,Megaport Festival, and the Youth Innovative
                        Design Festival, attracting outstanding cultural
                        creatives and designers from across the country to
                        participate in the grand event.
                    </p>
                    <p class="lh-base">
                        In terms of folk customs, the painted oil-paper
                        umbrellas in Meinong District and the shadow play
                        troupes in various districts of Kaohsiung, combined with
                        education and sightseeing, form an intangible cultural
                        asset.
                    </p>
                    <p class="lh-base">
                        In terms of festivals and festivals, Kaohsiung
                        City's activities include Kaohsiung Lantern Festival,
                        Megaport Festival, Neimen Song Jiang Battle Ritual, and
                        other cultural and developmental activities, inviting
                        people from home and abroad to participate in the grand
                        event.
                    </p>
                </div>
                <div id="KW2-in-Kaohsiung" class="mb-5 pt-5">
                    <h3>KW2 in Kaohsiung</h3>
                    <img src="../static/images/posts/posts2-1.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <p class="lh-base">
                        If travelers arrive at the Love River,
                        they can take the light rail transit to visit KW2,
                        Banana Pier, Pier 2 Art Zone, Kaohsiung Music Center,
                        and other tourist attractions. Each attraction is only 5
                        minutes away at most from the others.The lights of Zhan
                        Roku are sprinkled on the riverside from evening to
                        night.
                    </p>

                    <div class="card my-3 border border-start-0 border-end-0 rounded-0">
                        <div class="row g-0 py-4">
                            <div class="col-lg-6">
                                <img src="../static/images/posts/posts2-4.jpg"
                                    class="d-block w-100 h-100 img-fluid rounded-start" alt="圖片無法載入">
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title">Bar with Music</h5>
                                    <p class="card-text lh-base">
                                        Passengers passing by enjoy the custom
                                        of the harbor city. At night, people
                                        with slightly drunk breaths dance to the
                                        music in the outdoor bar. Watching the
                                        children play with the merry-go-round
                                        and Ferris wheel, the passengers take
                                        the boats on the Love River to feel the
                                        night in a gentle atmosphere.
                                    </p>
                                    <p class="card-text lh-base">
                                        <small class="text-muted">
                                            Last updated 3 mins ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Qieding-Wetlands" class="mb-5 pt-5">
                    <h3>Qieding Wetlands</h3>
                    <img src="../static/images/posts/posts2-5.jpg" class="d-block w-100 h-100 img-fluid" alt="圖片無法載入">
                    <p class="lh-base">
                        Qieding Wetlands is located in Kaohsiung
                        city. Every autumn, there will be a lot of migratory
                        birds migrating from other places like east asia.
                        Besides, almost half of the migratory birds will come to
                        Taiwan, and Qieding wetlands is one of the places where
                        migratory birds will stay. If you want to watch those
                        migratory birds, you will need to stay at the Watching
                        Pavilion.
                    </p>
                    <p class="lh-base">
                        My sister is a graduate student from National
                        Kaohsiung Normal University. Because her thesis advisor
                        hosted an event in Qieding wetlands, I decided to help
                        them as a volunteer.
                    </p>
                    <p class="lh-base">
                        Because I was the leader of a team, I can go
                        inside the wetland. In the wetland, I see some special
                        plants in the wetland,and some bird nests. Besides, I
                        can enjoy some of the events like weaving using Kandelia
                        obovata leaves and bird watching using a telescope.
                    </p>

                    <div class="card my-3 border border-start-0 border-end-0 rounded-0">
                        <div class="row g-0 py-4">
                            <div class="col-lg-6">
                                <img src="../static/images/posts/posts2-6.jpg"
                                    class="d-block w-100 h-100 img-fluid rounded-start" alt="圖片無法載入">
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title">Bar with Music</h5>
                                    <p class="card-text lh-base">
                                        Passengers passing by enjoy the custom
                                        of the harbor city. At night, people
                                        with slightly drunk breaths dance to the
                                        music in the outdoor bar. Watching the
                                        children play with the merry-go-round
                                        and Ferris wheel, the passengers take
                                        the boats on the Love River to feel the
                                        night in a gentle atmosphere.
                                    </p>
                                    <p class="card-text lh-base">
                                        <small class="text-muted">
                                            Last updated 3 mins ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <nav id="sitcky-posts-nav" class="position-sticky d-none d-md-block">
                <nav class="nav nav-pills flex-column pt-5">
                    <a class="nav-link" href="#Overview">Overview</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-4 my-1" href="#Transportation">Transportation</a>
                        <a class="nav-link ms-4 my-1" href="#Culture">Culture</a>
                    </nav>
                    <a class="nav-link" href="#KW2-in-Kaohsiung">
                        KW2 in Kaohsiung
                    </a>
                    <a class="nav-link" href="#Qieding-Wetlands">
                        Qieding Wetlands
                    </a>
                    <a class="nav-link" href="#Comments">
                        Comments
                    </a>
                </nav>
            </nav>
        </div>
    </div>

    <div class="row mb-5">
        <form id="Comments" class="mb-5" action="" method="post">
            <h3>Comments</h3>
            <div class="mb-3">
                <label for="comment-email" class="form-label">
                    Email address
                </label>
                <input type="email" class="form-control" id="comment-email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="comment-article" class="form-label">
                    Please leave your message here
                </label>
                <textarea class="form-control" id="comment-article" rows="3"
                    placeholder="Welcome to Wanna Go !"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary d-flex float-end">
                Submit
            </button>
        </form>
    </div>
</section>