/**********************************
*
*          Main Style
*
**********************************/
.wrong {
    display: block;
}

.good {
    display: none;
}

.cke_dialog_container {
    z-index: 20000 !important;
}