/**********************************
*
*          Main Style
*
**********************************/
.wrong {
    display: block;
}

.good {
    display: none;
}

div.article-text,
.ck-editor {
    p {
        display: block !important;
        margin: 1em 0 !important;
        padding: 0px !important;

        em {
            font-style: italic;
        }
    }

    // style from https://www.w3schools.com/css/css_table.asp
    table {
        table-layout: fixed;
        text-align: center;
        width: 100% !important;

        td,
        th {
            border: 1px solid #ddd;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            background-color: #6c757d;
            color: white;
            text-align: center;
        }
    }
}