/* topic.html */
section#posts-topic {
    height: 100vh;

    img {
        object-fit: cover;
    }

    h3 {
        font-size: 4em;
        color: white;position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-family: "Pacifico", cursive;
    }
}